
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/php\.xml

\.idea/rent_manager\.iml

\.idea/symfony2\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml
coverage/*
dist/*
node_modules/*
